source "Kconfig.zephyr" # It includes all existing Kconfig files from Zephyr and its modules

menu "Application Configuration"
    
    # source "Kconfig.test"
    rsource "Kconfig.custom"    

    config APP_HEARTBEAT_PERIOD_MS
        int "Heartbeat period (100-2000ms)"
        range 100 2000
        default 500

endmenu